In [109]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline

In [110]:
# Create path for train.csv and weather.csv

path_train = '/Users/michaelshea/desktop/class/WestNile/WestNilePrediction/Assets/train.csv'
path_weather = '/Users/michaelshea/desktop/class/WestNile/WestNilePrediction/Assets/weather.csv'

In [111]:
# Read in dataframes

train = pd.read_csv(path_train)
weather = pd.read_csv(path_weather)

In [112]:
# Dtypes and columns of train_df 

print train.dtypes

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object

In [113]:
# Convert train.Date to datetime

train['Date'] = pd.to_datetime(train.Date)

In [114]:
# Dtypes and columns of weather_df

print weather.dtypes

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [115]:
# Convert weather Station to object

weather['Station'] = weather.Station.apply(str)

In [116]:
# Convert weather Date column to datetime

weather['Date'] = pd.to_datetime(weather.Date)

In [117]:
# Set weather index to Date

weather.set_index('Date', inplace=True)

In [118]:
# Find Date range of weather data

print weather.index.min()
print weather.index.max()

2007-05-01 00:00:00
2014-10-31 00:00:00

In [119]:
# Was weather measured every day? Every weekday?
# According to internet, there were 2741 days between the dates above, 1886 excluding weekends and public holidays

# This proves weather not measured everyday (just something to note going forward):
print len(weather.index.unique())

1472

In [120]:
# Since test set includes 2008, 2010, 2012, and 2014, pull out these years from weather

weather = weather[(weather.index.year == 2007) | (weather.index.year == 2009) | (weather.index.year == 2011) | (weather.index.year == 2013)]

In [121]:
# Demonstrate above code worked:

print np.unique(weather.index.year)

[2007 2009 2011 2013]

Since there are two weather stations, it might make sense to calculate the distance between each trap and the nearest weather station, and then use that station's weather data when we merge. The following link is what I found when I googled "calculate distance between two points latitude longitude python": http://www.johndcook.com/blog/python_longitude_latitude/

It uses this code:

In [122]:
import math
 
def distance_on_unit_sphere(lat1, long1, lat2, long2):

    # Convert latitude and longitude to spherical coordinates in radians
    degrees_to_radians = math.pi/180.0
 
    # phi = 90 - latitude
    phi1 = (90.0 - lat1)*degrees_to_radians
    phi2 = (90.0 - lat2)*degrees_to_radians
 
    # theta = longitude
    theta1 = long1*degrees_to_radians
    theta2 = long2*degrees_to_radians
 
    # Compute spherical distance from spherical coordinates.
 
    # For two locations in spherical coordinates
    # (1, theta, phi) and (1, theta', phi')
    # cosine( arc length ) =
    # sin phi sin phi' cos(theta-theta') + cos phi cos phi'
    # distance = rho * arc length
 
    cos = (math.sin(phi1)*math.sin(phi2)*math.cos(theta1 - theta2) +
    math.cos(phi1)*math.cos(phi2))
    arc = math.acos( cos )

    # Remember to multiply arc by the radius of the earth
    # in your favorite set of units to get length.
    return arc

In [123]:
# We could add a new column called closest_station to the train dataframe

station_1_lat = 41.995
station_1_lon = -87.933
station_2_lat = 41.786
station_2_lon = -87.752
dist_to_station_1 = []
dist_to_station_2 = []
closest_station = []

for i in range(len(train.index)):
    one = distance_on_unit_sphere(train.ix[i, 'Latitude'], train.ix[i, 'Longitude'], station_1_lat, station_1_lon)
    two = distance_on_unit_sphere(train.ix[i, 'Latitude'], train.ix[i, 'Longitude'], station_2_lat, station_2_lon)
    if dist_to_station_1 > dist_to_station_2:
        closest_station.append('1')
    else:
        closest_station.append('2')

In [124]:
# Add distances to weather stations to train dataframe

train['closest_station'] = closest_station

In [125]:
# Add a unique identifier column to both train and weather dataframes by combining timestamp and weather station

train['date_station_id'] = train["Date"].map(str) + train["closest_station"]

weather['date_station_id'] = weather.index.map(str) + weather.Station.map(str)

In [147]:
train_dates = train.date_station_id.unique()

In [148]:
weather_dates = set(weather.date_station_id)

In [149]:
for day in train_dates:
    if day in weather_dates:
        print day

2007-05-29 00:00:002
2007-06-05 00:00:002
2007-06-26 00:00:002
2007-06-29 00:00:002
2007-07-02 00:00:002
2007-07-11 00:00:002
2007-07-18 00:00:002
2007-07-19 00:00:002
2007-07-25 00:00:002
2007-07-27 00:00:002
2007-08-01 00:00:002
2007-08-02 00:00:002
2007-08-03 00:00:002
2007-08-07 00:00:002
2007-08-08 00:00:002
2007-08-09 00:00:002
2007-08-15 00:00:002
2007-08-16 00:00:002
2007-08-17 00:00:002
2007-08-21 00:00:002
2007-08-22 00:00:002
2007-08-24 00:00:002
2007-08-28 00:00:002
2007-09-04 00:00:002
2007-09-05 00:00:002
2007-09-06 00:00:002
2007-09-12 00:00:002
2007-09-18 00:00:002
2007-09-19 00:00:002
2007-09-24 00:00:002
2007-09-25 00:00:002
2007-10-04 00:00:002
2007-10-09 00:00:002
2009-05-28 00:00:002
2009-06-02 00:00:002
2009-06-03 00:00:002
2009-06-05 00:00:002
2009-06-12 00:00:002
2009-06-15 00:00:002
2009-06-19 00:00:002
2009-06-22 00:00:002
2009-06-26 00:00:002
2009-06-29 00:00:002
2009-07-06 00:00:002
2009-07-10 00:00:002
2009-07-13 00:00:002
2009-07-17 00:00:002
2009-07-24 00:00:002
2009-07-27 00:00:002
2009-07-31 00:00:002
2009-08-07 00:00:002
2009-08-13 00:00:002
2009-08-25 00:00:002
2009-08-27 00:00:002
2009-09-03 00:00:002
2009-09-14 00:00:002
2009-09-17 00:00:002
2009-09-25 00:00:002
2009-10-01 00:00:002
2011-06-10 00:00:002
2011-06-17 00:00:002
2011-06-24 00:00:002
2011-06-30 00:00:002
2011-07-11 00:00:002
2011-07-15 00:00:002
2011-07-25 00:00:002
2011-07-29 00:00:002
2011-08-05 00:00:002
2011-08-12 00:00:002
2011-08-19 00:00:002
2011-08-26 00:00:002
2011-09-01 00:00:002
2011-09-02 00:00:002
2011-09-12 00:00:002
2011-09-16 00:00:002
2011-09-23 00:00:002
2011-09-30 00:00:002
2013-06-07 00:00:002
2013-06-14 00:00:002
2013-06-21 00:00:002
2013-06-27 00:00:002
2013-06-28 00:00:002
2013-07-08 00:00:002
2013-07-12 00:00:002
2013-07-19 00:00:002
2013-07-25 00:00:002
2013-08-01 00:00:002
2013-08-08 00:00:002
2013-08-15 00:00:002
2013-08-22 00:00:002
2013-08-29 00:00:002
2013-09-06 00:00:002
2013-09-12 00:00:002
2013-09-19 00:00:002
2013-09-26 00:00:002

In [130]:
len(train_dates)

10506

In [131]:
len(train_dates_set)

95

In [136]:
train.date_station_id

0        2007-05-29 00:00:002
1        2007-05-29 00:00:002
2        2007-05-29 00:00:002
3        2007-05-29 00:00:002
4        2007-05-29 00:00:002
5        2007-05-29 00:00:002
6        2007-05-29 00:00:002
7        2007-05-29 00:00:002
8        2007-05-29 00:00:002
9        2007-05-29 00:00:002
10       2007-05-29 00:00:002
11       2007-05-29 00:00:002
12       2007-05-29 00:00:002
13       2007-05-29 00:00:002
14       2007-05-29 00:00:002
15       2007-05-29 00:00:002
16       2007-05-29 00:00:002
17       2007-05-29 00:00:002
18       2007-05-29 00:00:002
19       2007-05-29 00:00:002
20       2007-05-29 00:00:002
21       2007-05-29 00:00:002
22       2007-05-29 00:00:002
23       2007-05-29 00:00:002
24       2007-05-29 00:00:002
25       2007-06-05 00:00:002
26       2007-06-05 00:00:002
27       2007-06-05 00:00:002
28       2007-06-05 00:00:002
29       2007-06-05 00:00:002
                 ...
10476    2013-09-26 00:00:002
10477    2013-09-26 00:00:002
10478    2013-09-26 00:00:002
10479    2013-09-26 00:00:002
10480    2013-09-26 00:00:002
10481    2013-09-26 00:00:002
10482    2013-09-26 00:00:002
10483    2013-09-26 00:00:002
10484    2013-09-26 00:00:002
10485    2013-09-26 00:00:002
10486    2013-09-26 00:00:002
10487    2013-09-26 00:00:002
10488    2013-09-26 00:00:002
10489    2013-09-26 00:00:002
10490    2013-09-26 00:00:002
10491    2013-09-26 00:00:002
10492    2013-09-26 00:00:002
10493    2013-09-26 00:00:002
10494    2013-09-26 00:00:002
10495    2013-09-26 00:00:002
10496    2013-09-26 00:00:002
10497    2013-09-26 00:00:002
10498    2013-09-26 00:00:002
10499    2013-09-26 00:00:002
10500    2013-09-26 00:00:002
10501    2013-09-26 00:00:002
10502    2013-09-26 00:00:002
10503    2013-09-26 00:00:002
10504    2013-09-26 00:00:002
10505    2013-09-26 00:00:002
Name: date_station_id, dtype: object

In [144]:
weather.date_station_id[57] == train.date_station_id[0]

True

In [ ]:
2007-05-29 00:00:002
2007-05-29 00:00:002